*.exe
*.msi
*.dll
*.compiled
*.dbg
*.log
*.ppu
.SyncArchive
.git
.gitignore
.rnd
*.wapt
*.lo
*.la
*.al
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.#*
.*.swp
.DS_store
*.lps
*.deb
*.rpm
*.bak
*.crt
