package           : tiskg-7zip
version           : 18.05.00.0-0
architecture      : all
section           : base
priority          : optional
maintainer        : TIS
description       : package for 7-Zip (Igor Pavlov)
depends           : 
conflicts         : 
maturity          : 
locale            : 
target_os         : 
min_os_version    : 
max_os_version    : 
min_wapt_version  : 
sources           : http://www.7-zip.org/download.html
installed_size    : 
impacted_process  : 
description_fr    : 
description_pl    : 
description_de    : 
description_es    : 
signer            : TIS KG
signer_fingerprint: c2319026571e05b18315ac0ce9d62b7e4267166ba4189dcb0f67c3b308632a30
signature         : fHZXz8HgtlFqFqImfb7K4LRlO+VxpCtC4VzNwJIyVVVS7G8epsmyBdZm2av6lYDX2sleDZuzVq7ujo5nUi7pddyuv2O1ngQL5BObcXLRLtRbdlimgnH2aa2ZfZB9/gcNWFoSbshZtYshCHo33AIl2aG4Hae/ZpTIZtSOumTHF1DVx8bs6Qx1hKnSQxtkY9hjq4mBg2Yp5djfJ7uMkxh0YWTMGhnWfxi6AiCR75LYzLXzy3sxVukcb/JNSydnP3dHYVsffqcq/M48xQciDgYWlCuVZUNyIzSPTsl2YDyj0aGCxByQfiD97dY43KcS9Fw/R61H1WqOBqQaLJ9OhVK9nQ==
signature_date    : 20180308-090626
signed_attributes : package,version,architecture,section,priority,maintainer,description,depends,conflicts,maturity,locale,target_os,min_os_version,max_os_version,min_wapt_version,sources,installed_size,impacted_process,signer,signer_fingerprint,signature_date,signed_attributes