package           : tis-fusioninventory
version           : 2.4-0
architecture      : all
section           : base
priority          : optional
maintainer        : Kevin Guerineau
description       : FusionInventory is a software for inventory computers.
depends           :
conflicts         :
maturity          :
locale            : all
target_os         : windows
min_os_version    : 5.0
max_os_version    :
min_wapt_version  :
sources           : https://github.com/fusioninventory/fusioninventory-agent/releases
installed_size    :
impacted_process  :
description_fr    : FusionInventory est un logiciel servant à l'inventaire et la maintenance d'un parc informatique
description_pl    :
description_de    :
description_es    :
audit_schedule    :
signer            :
signer_fingerprint:
signature         :
signature_date    :
signed_attributes : package,version,architecture,section,priority,maintainer,description,depends,conflicts,maturity,locale,target_os,min_os_version,max_os_version,min_wapt_version,sources,installed_size,impacted_process,signer,signer_fingerprint,signature_date,signed_attributes